<h1>
    很抱歉，找不到页面！
</h1>

<div>
    <button type="button" class="btn btn-primary" @onclick="NavigateToHome">回到首页</button>
</div>

<div>
    点击下面这个链接报告错误: 
    <a href="/reportError/404/页面未找到">报告错误</a>
</div>