@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<CounterPrint CurrentCount="currentCount" Title="计数器"></CounterPrint>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
