
@{
    ViewData["Title"] = "Cover";
}

<h1>Cover</h1>

<script>
    var a = 1;
    var a;

    //赋值覆盖相当于：
    var a;
    //a=1;
    a;

    //声明覆盖相当于：
    //var a=1;
    var a;
    console.log(a);

</script>