
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="btn-group-vertical">
    <a class="btn btn-primary" role="button" asp-controller="JavascriptLearn" asp-action="Functions">Functions</a>
    <a class="btn btn-primary" role="button" asp-controller="JavascriptLearn" asp-action="Datatype">Datatype</a>
    <a class="btn btn-primary" role="button" asp-controller="JavascriptLearn" asp-action="DictoryInJS">DictoryInJS</a>
    <a class="btn btn-primary" role="button" asp-controller="JavascriptLearn" asp-action="Cover">Cover</a>
    <a class="btn btn-primary" role="button" asp-controller="JavascriptLearn" asp-action="AnonymousFunction">AnonymousFunction</a>
    <a class="btn btn-primary" role="button" asp-controller="JavascriptLearn" asp-action="CheckForm">CheckForm</a>
</div>